<template name="lasttx">

<h4 class="ui pageHeader header">
  <div class="content">
    Latest Transactions
  </div>
</h4>
{{#with lasttx}} {{#if zeroCheck}}
<div class="ui negative message">
  <i class="close icon"></i>
  <div class="header">
    No transactions yet
  </div>
</div>
{{else}}
  {{#each lasttx.transactions}}
    {{#if isConfirmed this.tx.confirmed}}

      <!-- Confirmed Txn -->
      {{#if isTransfer this.tx.transactionType}}
      <div class="ui icon message transactionRecord">
        <img class="transactionTypeImage" src="/img/icons/send.png" />
        <div class="content">
          <div class="header">
             {{ts}}
          </div>
          Transfer | Block <a href="/block/{{block}}">{{block}}</a>
          <p class="transactionAddress value">
            {{this.tx.transaction_hash}}
          </p>
        </div>
        <div class="floatright ta-c">
          <a href="/tx/{{this.tx.transaction_hash}}">{{amount}}<br><small>Quanta</small></a>
        </div>
      </div>
      {{/if}}

      {{#if isTokenCreation this.tx.transactionType}}
      <div class="ui icon message transactionRecord">
        <img class="transactionTypeImage" src="/img/icons/send.png" />
        <div class="content">
          <div class="header">
            {{ts}}
          </div>
          Token Creation - ({{this.explorer.symbol}}) | Block <a href="/block/{{block}}">{{block}}</a>
          <p class="transactionAddress value">
            {{this.tx.transaction_hash}}
          </p>
        </div>
        <div class="floatright ta-c">
           <a href="/tx/{{this.tx.transaction_hash}}">{{this.explorer.symbol}}<br><small>Creation</small></a>
        </div>
      </div>
      {{/if}}

      {{#if isTokenTransfer this.tx.transactionType}}
      <div class="ui icon message transactionRecord">
        <img class="transactionTypeImage" src="/img/icons/send.png" />
        <div class="content">
          <div class="header">
            {{ts}}
          </div>
          Token Transfer - ({{this.explorer.symbol}}) | Block <a href="/block/{{block}}">{{block}}</a>
          <p class="transactionAddress value">
            {{this.tx.transaction_hash}}
          </p>
        </div>
        <div class="floatright ta-c">
          <a href="/tx/{{this.tx.transaction_hash}}">{{amount}} {{this.explorer.symbol}}</a>
        </div>
      </div>
      {{/if}}

      {{#if isCoinbaseTxn this.tx.transactionType}}
      <div class="ui icon message transactionRecord">
        <img class="transactionTypeImage" src="/img/icons/receive.png" />
        <div class="content">
          <div class="header">
             {{ts}}
          </div>
          Coinbase Received | Block <a href="/block/{{block}}">{{block}}</a>
          <p class="transactionAddress value">
            {{this.tx.transaction_hash}}
          </p>
        </div>
        <div class="floatright ta-c">
          <a href="/tx/{{this.tx.transaction_hash}}">{{this.amount}}<br><small>Quanta</small></a>
        </div>
      </div>
      {{/if}}

      {{#if isSlaveTxn this.tx.transactionType}}
      <div class="ui icon message transactionRecord">
        <img class="transactionTypeImage" src="/img/icons/send.png" />
        <div class="content">
          <div class="header">
            {{ts}}
          </div>
          Slave Transaction | Block <a href="/block/{{block}}">{{block}}</a>
          <p class="transactionAddress value">
            {{this.tx.transaction_hash}}
          </p>
        </div>
        <div class="floatright ta-c">
          <a href="/tx/{{this.tx.transaction_hash}}"><small>View<br>Transaction</small></a>
        </div>
      </div>
      {{/if}}

      {{#if isLatticePKTxn this.tx.transactionType}}
      <div class="ui icon message transactionRecord">
        <img class="transactionTypeImage" src="/img/icons/send.png" />
        <div class="content">
          <div class="header">
            {{ts}}
          </div>
          Lattice Public Key | Block <a href="/block/{{block}}">{{block}}</a>
          <p class="transactionAddress value">
            {{this.tx.transaction_hash}}
          </p>
        </div>
        <div class="floatright ta-c">
          <a href="/tx/{{this.tx.transaction_hash}}"><small>View<br>Transaction</small></a>
        </div>
      </div>
      {{/if}}

      {{#if isMessageTxn this.tx.transactionType}}
      <div class="ui icon message transactionRecord">
        <img class="transactionTypeImage" src="/img/icons/send.png" />
        <div class="content">
          <div class="header">
            {{ts}}
          </div>
          Message | Block <a href="/block/{{block}}">{{block}}</a>
          <p class="transactionAddress value">
            {{this.tx.transaction_hash}}
          </p>
        </div>
        <div class="floatright ta-c">
          <a href="/tx/{{this.tx.transaction_hash}}"><small>View<br>Transaction</small></a>
        </div>
      </div>
      {{/if}}

      {{#if isDocumentNotarisation this.explorer.type}}
      <div class="ui icon message transactionRecord">
        <img class="transactionTypeImage" src="/img/icons/send.png" />
        <div class="content">
          <div class="header">
            {{ts}}
          </div>
          Document Notarisation | Block <a href="/block/{{block}}">{{block}}</a>
          <p class="transactionAddress value">
            {{this.tx.transaction_hash}}
          </p>
        </div>
        <div class="floatright ta-c">
          <a href="/tx/{{this.tx.transaction_hash}}"><small>View<br>Transaction</small></a>
        </div>
      </div>
      {{/if}}

    {{else}}
      <!-- Unconfirmed Txn -->

      {{#if isTransfer this.tx.transactionType}}
      <div class="ui icon message transactionRecord">
        <img class="transactionTypeImage" src="/img/icons/send.png" />
        <div class="content">
          <div class="header">
            Transfer | Unconfirmed | First Seen: {{ts}}
          </div>
          <p class="transactionAddress value">
            {{this.tx.transaction_hash}}
          </p>
        </div>
        <div class="floatright ta-c">
          <a href="/tx/{{this.tx.transaction_hash}}">{{amount}} Quanta</a>
        </div>
      </div>
      {{/if}}

      {{#if isTokenCreation this.tx.transactionType}}
      <div class="ui icon message transactionRecord">
        <img class="transactionTypeImage" src="/img/icons/send.png" />
        <div class="content">
          <div class="header">
            Token Creation - ({{this.explorer.symbol}}) | Unconfirmed | First Seen: {{ts}}
          </div>
          <p class="transactionAddress value">
            {{this.tx.transaction_hash}}
          </p>
        </div>
        <div class="floatright ta-c">
           <a href="/tx/{{this.tx.transaction_hash}}">{{this.explorer.symbol}}<br><small>Creation</small></a>
        </div>
      </div>
      {{/if}}

      {{#if isTokenTransfer this.tx.transactionType}}
      <div class="ui icon message transactionRecord">
        <img class="transactionTypeImage" src="/img/icons/send.png" />
        <div class="content">
          <div class="header">
            Token Transfer - ({{this.explorer.symbol}}) | Unconfirmed | First Seen: {{ts}}
          </div>
          <p class="transactionAddress">
            {{this.tx.transaction_hash}}
          </p>
        </div>
        <div class="floatright ta-c">
          <a href="/tx/{{this.tx.transaction_hash}}">{{amount}}<br><small>{{this.explorer.symbol}}</small></a>
        </div>
      </div>
      {{/if}}

      {{#if isSlaveTxn this.tx.transactionType}}
      <div class="ui icon message transactionRecord">
        <img class="transactionTypeImage" src="/img/icons/receive.png" />
        <div class="content">
          <div class="header">
            Slave Transaction | Unconfirmed | First Seen: {{ts}}
          </div>
          <p class="transactionAddress value">
            {{this.tx.transaction_hash}}
          </p>
        </div>
        <div class="floatright ta-c">
          <a href="/tx/{{this.tx.transaction_hash}}"><small>View<br>Transaction</small></a>
        </div>
      </div>
      {{/if}}

      {{#if isLatticePKTxn this.tx.transactionType}}
      <div class="ui icon message transactionRecord">
        <img class="transactionTypeImage" src="/img/icons/send.png" />
        <div class="content">
          <div class="header">
            Lattice Public Key | Unconfirmed | First Seen: {{ts}}
          </div>
          <p class="transactionAddress value">
            {{this.tx.transaction_hash}}
          </p>
        </div>
        <div class="floatright ta-c">
          <a href="/tx/{{this.tx.transaction_hash}}"><small>View<br>Transaction</small></a>
        </div>
      </div>
      {{/if}}

      {{#if isMessageTxn this.explorer.type}}
      <div class="ui icon message transactionRecord">
        <img class="transactionTypeImage" src="/img/icons/send.png" />
        <div class="content">
          <div class="header">
            Message | Unconfirmed | First Seen: {{ts}}
          </div>
          <p class="transactionAddress value">
            {{this.tx.transaction_hash}}
          </p>
        </div>
        <div class="floatright ta-c">
          <a href="/tx/{{this.tx.transaction_hash}}"><small>View<br>Transaction</small></a>
        </div>
      </div>
      {{/if}}

      {{#if isDocumentNotarisation this.explorer.type}}
      <div class="ui icon message transactionRecord">
        <img class="transactionTypeImage" src="/img/icons/send.png" />
        <div class="content">
          <div class="header">
            Document Notarisation | Unconfirmed | First Seen: {{ts}}
          </div>
          <p class="transactionAddress value">
            {{this.tx.transaction_hash}}
          </p>
        </div>
        <div class="floatright ta-c">
          <a href="/tx/{{this.tx.transaction_hash}}"><small>View<br>Transaction</small></a>
        </div>
      </div>
      {{/if}}

    {{/if}}

  {{/each}}
{{/if}} {{/with}}


</template>