<template name="lasttx">

<h4 class="ui pageHeader header">
  <div class="content">
    Latest Transactions
  </div>
</h4>
{{#with lasttx}} {{#if zeroCheck}}
<div class="ui negative message">
  <i class="close icon"></i>
  <div class="header">
    No transactions yet
  </div>
</div>
{{else}}
  {{#each lasttx.transactions}}
    {{#if isTransfer this.tx.type}}
    <div class="ui icon message transactionRecord">
      <img class="transactionTypeImage" src="/img/icons/send.png" />
      <div class="content">
        <div class="header">
          Transfer | Block <a href="/block/{{block}}">{{block}}</a> Timestamp: {{ts}}
        </div>
        <p class="transactionAddress">
          {{tx_hash}}
        </p>
      </div>
      <div class="floatright">
        <a href="/tx/{{tx_hash}}">{{amount}} Quanta &gt;</a>
      </div>
    </div>
    {{/if}}

    {{#if isTokenCreation this.tx.type}}
    <div class="ui icon message transactionRecord">
      <img class="transactionTypeImage" src="/img/icons/send.png" />
      <div class="content">
        <div class="header">
          Token Creation - {{this.name}} ({{this.symbol}})
        </div>
        <p class="transactionAddress">
          {{tx_hash}}
        </p>
      </div>
      <div class="floatright">
         <a href="/tx/{{tx_hash}}">{{this.symbol}} &gt;</a>
      </div>
    </div>
    {{/if}}

    {{#if isTokenTransfer this.tx.type}}
    <div class="ui icon message transactionRecord">
      <img class="transactionTypeImage" src="/img/icons/send.png" />
      <div class="content">
        <div class="header">
          Token Transfer
        </div>
        <p class="transactionAddress">
          {{tx_hash}}
        </p>
      </div>
      <div class="floatright">
        <a href="/tx/{{tx_hash}}">{{this.amount}} {{this.symbol}} &gt;</a>
      </div>
    </div>
    {{/if}}

    {{#if isCoinbaseTxn this.tx.type}}
    <div class="ui icon message transactionRecord">
      <img class="transactionTypeImage" src="/img/icons/receive.png" />
      <div class="content">
        <div class="header">
          Coinbase Received
        </div>
        <p class="transactionAddress">
          {{tx_hash}}
        </p>
      </div>
      <div class="floatright">
        <a href="/tx/{{tx_hash}}">{{this.amount}} Quanta &gt;</a>
      </div>
    </div>
    {{/if}}
  {{/each}}
{{/if}} {{/with}}


</template>