<template name="hello">
  <h3>Network info</h3><button class="ui mini button"><i class="ui refresh icon"></i> Refresh</button>
  {{#with status}}
    <!-- if status has an error property, display it -->
    {{#if error}}
      <p>There was an error: {{error.errorType}} {{error.message}}!</p>
    {{else}}
    <ul>
      <li>status: {{status.status}}</li>
      <li>unmined: {{status.unmined}}</li>
      <li>network: {{status.network}}</li>
      <li>block_reward: {{status.block_reward}}</li>
      <li>emission: {{status.emission}}</li>
      <li>stake_validators: {{status.stake_validators}}</li>
      <li>epoch: {{status.epoch}}</li>
      <li>block_time: {{status.block_time}}</li>
      <li>version: {{status.version}}</li>
      <li>staked_percentage_emission: {{status.staked_percentage_emission}}</li>
      <li>blockheight: {{status.blockheight}}</li>
      <li>nodes: {{status.nodes}}</li>
      <li>block_time_variance: {{status.block_time_variance}}</li>
      <li>network_uptime: {{status.network_uptime}}</li>
    </ul>
    {{/if}} 
  {{/with}}
</template>
