<template name="address">
  {{#with address}} {{#if error}}
  <h1>Address <i class="ui refresh red link icon"></i></h1>
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      Error reading address {{address.id}}
    </div>
    <p>{{address.error.message}}</p>
  </div>
  {{else}}
  <div class="ui raised fluid card">
    <div class="content">
      <div class="header">
        <h1>Address <i class="ui refresh red link icon"></i> <a class="ui big yellow label"><i
                    class="qrcode icon"></i>{{address.state.address}}</a></h1> {{#if address.state.empty_warning}}
        <div class="ui red header">
          <h6>This appears to be an empty address.  It may be an offline wallet, but you should double-check before transacting Quanta to this wallet address.</h6></div>
        {{/if}}
      </div>
      <div class="description">
        <div class="ui hidden divider"></div>
        <div class="ui stackable grid">
          <div class="eight wide column">
            <div class="ui basic center aligned segment">
              <div class="ui statistic">
                <div class="label">
                  <div class="ui label">Balance</div>
                </div>
                <div class="value" data-html="<div class='content'>USD ${{qrl}}</div>">
                  {{address.state.balance}}
                </div>
                <div class="label">
                  Quanta
                </div>
              </div>
            </div>
          </div>
          <div class="four wide column center aligned">
            {{> QRCode text=QRtext size="128px"}}
          </div>
        </div>
        <div class="ui celled horizontal list">
<!--           <div class="item">
            <button class="ui mini blue button" id="ShowTx"><i class="down arrow icon"></i> Show transactions
            </button>
            <button class="ui mini blue button" id="HideTx"><i class="up arrow icon"></i> Hide transactions
            </button>
          </div> -->
          <div class="item"><strong>Transactions</strong> {{state.txcount}}</div>
          <div class="item"><strong>Nonce</strong> {{state.nonce}}</div>
        </div>
        <div class="ui active centered inline loader"></div>
        <table class="ui striped table">
          <thead>
            <th>Time</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Fee</th>
            <th>From</th>
            <th>To</th>
            <th>Txhash</th>
<!--             <th>Pubhash</th>
            <th>OTS key</th> -->
          </thead>
          <tbody>
            {{#each addressTx}}
            <tr>
              <td>
                <div class="unbreakable">{{ts}}</div>
              </td>
              <td>
                <div class="ui label {{color}}">{{this.transaction.tx.transactionType}}</div>
              </td>
              <td>
                <div class="unbreakable">{{transaction.tx.amount}}</div>
              </td>
              <td>
                <div class="unbreakable">{{transaction.tx.fee}}</div>
              </td>
              <td><a href="/a/{{transaction.tx.addr_from}}">{{transaction.tx.addr_from}}</a></td>
              <td><a href="/a/{{transaction.tx.addr_to}}">{{transaction.tx.addr_to}}</a></td>
              <td><a href="/tx/{{transaction.tx.transaction_hash}}">{{transaction.tx.transaction_hash}}</a></td>
<!--               <td>{{public_key}}</td>
              <td>{{this.ots_key}}</td> -->
            </tr>
            {{/each}}
          </tbody>
          {{#if pagination}}
          <tfoot>
              <tr><th colspan="7">
                <div class="ui right floated pagination menu">
                  {{#if pback}}
                  <a qrl-data="back" class="icon item">
                    <i qrl-data="back" class="left chevron icon"></i>
                  </a>
                  {{/if}}
                  {{#each pages}}
                  <a class="item {{isActive}}">{{this.number}}</a>
                  {{/each}}
                  {{#if pforward}}
                  <a qrl-data="forward" class="icon item">
                    <i qrl-data="forward" class="right chevron icon"></i>
                  </a>
                  {{/if}}
                </div>
              </th>
            </tr></tfoot>
            {{/if}}
        </table>
        <button class="ui mini button jsonclick">Meta <i class="down angle icon"></i></button>
        <div class="ui raised segment jsonbox json" style="display: none">{{json}}</div>
      </div>
    </div>
  </div>
  {{/if}} {{/with}}
</template>