<template name="address">
  {{#with address}}
    {{#if error}}
    <h1>Address <i class="ui refresh red link icon"></i> <a class="ui label"><i class="qrcode icon"></i>{{address.parameter}}</a></h1>
      <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
          Error reading address
        </div>
        <p>{{address.error}}</p>
      </div>
    {{else}}
    <h1>Address <i class="ui refresh red link icon"></i> <a class="ui label"><i class="qrcode icon"></i>{{address.state.address}}</a></h1>
    <ul>
      <li>address: {{address.state.address}}</li>
      <li>balance: {{address.state.balance}}</li>
      <li>nonce: {{address.state.nonce}}</li>
      <li>Transactions: <em>awaiting API update...</em></li>
      {{#each address.transactions}}
      <li>"fee": {{this.fee}}</li>
      <li>"timestamp": {{this.timestamp}}</li>
      <li>"txfrom": {{this.txfrom}}</li>
      <li>"amount": {{this.amount}}</li>
      <li>"ots_key": {{this.ots_key}}</li>
      <li>"txhash": {{this.txhash}}</li>
      <li>"txto": {{this.txto}}</li>
       <li>"block": {{this.block}}</li>
      {{/each}}
    </ul>
    {{/if}} 
  {{/with}}
</template>