<template name="address">
  {{#with address}}
    {{#if error}}
    <h1>Address <i class="ui refresh red link icon"></i> <a class="ui label"><i class="qrcode icon"></i>{{address.parameter}}</a></h1>
      <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
          Error reading address
        </div>
        <p>{{address.error}}</p>
      </div>
    {{else}}
    <h1>Address <i class="ui refresh red link icon"></i> <a class="ui label"><i class="qrcode icon"></i>{{address.state.address}}</a></h1>
    <ul>
      {{> QRCode text=QRtext size="128px"}}
      <!-- <li>address: {{address.state.address}}</li> -->
      <li>balance: {{address.state.balance}}</li>
      <li>nonce: {{address.state.nonce}}</li>
      <li>Transactions:</li>
      <table class="ui striped table"><thead><th>Timestamp</th><th>Amount</th><th>From</th><th>To</th><th>Txhash</th><th>Block</th><th>Fee</th><th>OTS key</th></thead><tbody>
      {{#each address.transactions}}
      <tr>
        <td>{{ts}}</td>
        <td>{{this.amount}}</td>
        <td><a href="/a/{{this.txfrom}}">{{this.txfrom}}</a></td>
        <td><a href="/a/{{this.txto}}">{{this.txto}}</a></td>
        <td><a href="/tx/{{this.txhash}}">{{this.txhash}}</a></td>
        <td><a href="/block/{{this.block}}">{{this.block}}</a></td>
        <td>{{this.fee}}</td>
        <td>{{this.ots_key}}</td>
      </tr>
      {{/each}}
    </tbody>
    </table>
    </ul>
    {{/if}} 
  {{/with}}
</template>