@font-face {
  font-family: 'Alte DIN 1451 Mittelschrift';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/AlteDIN1451Mittelschrift/din1451alt.eot'); /* IE9 Compat Modes */
  src: local('Alte DIN 1451 Mittelschrift'), local('AlteDIN1451Mittelschrift'),
       url('/fonts/AlteDIN1451Mittelschrift/din1451alt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/AlteDIN1451Mittelschrift/din1451alt.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/AlteDIN1451Mittelschrift/din1451alt.woff') format('woff'), /* Modern Browsers */
       url('/fonts/AlteDIN1451Mittelschrift/din1451alt.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/AlteDIN1451Mittelschrift/din1451alt.svg#AlteDIN1451Mittelschrift') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Alte DIN 1451 Mittelschrift';
  font-style: bold;
  font-weight: 600;
  src: url('/fonts/AlteDIN1451Mittelschrift/din1451alt_bold.eot'); /* IE9 Compat Modes */
  src: local('Alte DIN 1451 Mittelschrift'), local('AlteDIN1451Mittelschrift'),
       url('/fonts/AlteDIN1451Mittelschrift/din1451alt_bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/AlteDIN1451Mittelschrift/din1451alt_bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/AlteDIN1451Mittelschrift/din1451alt_bold.woff') format('woff'), /* Modern Browsers */
       url('/fonts/AlteDIN1451Mittelschrift/din1451alt_bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/AlteDIN1451Mittelschrift/din1451alt_bold.svg#AlteDIN1451Mittelschrift') format('svg'); /* Legacy iOS */
}

body {
  background: #0B181E !important;
}

h3,
button {
  font-family: 'Alte DIN 1451 Mittelschrift' !important;
}

pre {
  font-family: 'Alte DIN 1451 Mittelschrift' !important;
}

.pushable {
  /* background: #f3f3f3 !important; */
}

.ui .label {
  vertical-align: middle;
}

.ui.menu {
  margin-bottom: 0;
  border-radius: 0px !important;
}

.ui.menu .item {
  padding-left: 10px;
  padding-right: 10px;
}

body.pushable {
  /* background: #f3f3f3 !important; */
}

@media (max-width: 519px) {
  .pusher {
    margin-top: 40px;
  }
}

.ui.label {
  overflow: auto;
  word-break: break-all;
  border-radius: 0px;
}

td a {
  font-family: 'Alte DIN 1451 Mittelschrift';
  font-weight: normal;
  overflow: auto;
  word-break: break-all;
  color: #4aafff;
}

td a:hover {
  color: #6EBFFF;
}

.item:not(.menu) a {
  font-family: 'Alte DIN 1451 Mittelschrift';
  color: #4aafff;
}

.item a:hover {
  color: #6EBFFF;
}

td {
  font-weight: normal;
  overflow: auto;
  word-break: break-all;
}

.value {
  overflow: hidden;
  word-break: break-all;
  color: #EAEFF5 !important;
}

@media (max-width: 519px) {

  .ui.statistics .statistic>.value,
  .ui.statistic>.value {
    font-size: 2rem !important;
  }
}

td .ui.label {
  word-break: keep-all !important;
  overflow: visible;
}

td .unbreakable {
  word-break: keep-all !important;
  overflow: visible;
}

.breakable {
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}

.ui.inverted.segment,
.ui.primary.inverted.segment {
  background: #0b181e;
}

.footbanner {
  /* Increased specificity for SO snippet priority */
  position: absolute;
  bottom: 0;
  width: 100%;
}



.sidebar {
  background-color: #3C464B !important;
}

.sidebar a {
  font-family: 'Alte DIN 1451 Mittelschrift' !important;
}

.sidebar a:hover {
  font-family: 'Alte DIN 1451 Mittelschrift' !important;
}

.ui.labeled.icon.menu .item>.icon:not(.dropdown) {
  margin-bottom: 0px !important;
}

.sidebarConnectionStatus {
  position: fixed !important;
  bottom: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100%;
}

.fullHeight {
  height: 100% !important;
}

.fullWidth {
  width: 100% !important;
}

.main-menu-logo {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  max-width: 70px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 70px !important;

}

.logoArea {
  background-color: #FFA729 !important;
  color: #EAEFF5 !important;
  font-family: 'Alte DIN 1451 Mittelschrift', sans-serif !important;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  min-width: 1em !important;
  padding: 10px !important;
}

.logoArea img {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  /*margin-bottom: 5px !important;*/
}

.tc-w {
  color: #EAEFF5 !important;
}

div.ui.celled.horizontal.list {
  color: #fafafa !important;
}

div.ui.celled.horizontal.list>.item {
  border-left: 1px solid rgba(208, 208, 208, 0.8) !important;
}

.main-menu-btn {
  font-weight: bold;
  color: #EAEFF5 !important;
  font-family: 'Alte DIN 1451 Mittelschrift', sans-serif !important;
}

.main-menu-btn .icon {
  font-weight: bold;
  color: #EAEFF5 !important;
  fill: #EAEFF5 !important;
  width: 40px !important;
  height: 40px !important;
}

.statistic .label {
  color: #fafafa !important;
}

.label>.ui.label {
  color: #0b181e !important;
}

.icon.svg.red {
  fill: red !important;
}

.icon.svg.yellow {
  fill: yellow !important;
}

.icon.svg.green {
  fill: #7ED321 !important;
}


/* Hover style for menu items */
.main-menu-btn:hover {
  font-weight: bold;
  background-color: #6D7478 !important;
  /* color: #000 !important; */
  font-family: 'Alte DIN 1451 Mittelschrift', sans-serif !important;
}

.ui.inverted.menu .active.item:hover {
  /* color: #000 !important; */
}

.ui.inverted.menu {
  background: #0b181e !important;
  background-attachment: fixed !important;
}

.main-menu-btn:hover .icon {
  color: #ffa729 !important;
  fill: #ffa729 !important;
}

/* Exclude Logo Area :hover */
.logoArea:hover {
  background-color: #ffa729 !important;
}


/* Wrapper for all content area */
.main-content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-left: 120px;
}

.main-content-wrapper .main-content-warning.ui.fixed.secondary.menu {
  padding-left: 110px;
  /*border-bottom: 1px solid rgba(34,36,38,.15);*/
  /*background: #EAEFF5;*/
  box-shadow: 0 3px 5px 0 rgba(34, 36, 38, .15);
}

/* Main content area */
.main-content {
  height: 100%;
  min-height: 100%;
  padding: 20px;

  /* background-image: url(/img/dots-light.png) !important; */
  background-position: left top !important;
  background-repeat: no-repeat !important;
}

/* Sub page wrapper in body */
.subPageContent {
  padding-top: 20px;
}



/* Main content wrapper for inside a subpage */
.pageSegment {
  /* background-color: rgba(255, 255, 255, 0.1) !important; */
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.3) !important;
  border-radius: 0px !important;
  border: 0px !important;
  margin-top: 0px !important;
}

/* Header for a Sub Page */
.ui .pageHeader {
  background-color: #4AAFFF;
  color: #EAEFF5;
  margin: 0px !important;
  font-family: 'Alte DIN 1451 Mittelschrift', sans-serif;
  font-weight: 600 !important;
  padding: 10px;
}

.ui .pageHeader .icon {
  float: right;
  padding-top: 0px !important;
}

.ui .pageHeader .content .sub.header {
  color: #EAEFF5 !important;
  font-family: 'Alte DIN 1451 Mittelschrift', sans-serif !important;
}

.ui.list .list>.item .header,
.ui.list>.item .header {
  color: #fff;
}

/* Footer links */
.footer {
  display: block;
  position: relative;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  margin-top: 120px !important;
  z-index: 99;
}

.footerLogo {
  width: 150px;
}


/* Page Tab Styles */
.tab {
  border-radius: 0px !important;
}

.ui.tabular.menu .active.item {
  border-radius: 0px !important;
  background-color: #0B181E !important;
  color: #EAEFF5 !important;
}

.ui.tabular.menu .item {
  background-color: #cacaca !important;
  color: #0A0724 !important;
}

.ui.bottom.attached.tab.segment.active {
  background-color: #0B181E !important;
  color: #EAEFF5 !important;
}


/* Form Styles */
input {
  background-color: #E3E1E3 !important;
  color: #3C464B !important;
  border-radius: 0px !important;
}

.ui.button.red {
  background-color: #FFA729 !important;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.3) !important;
  color: #FFF !important;
  border-radius: 0px !important;
  font-family: 'Alte DIN 1451 Mittelschrift' !important;
  font-size: 14px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.ui.button.red:hover {
  background-color: #0B181E !important;
}

.ui.button.plain {
  background-color: #f3f3f3 !important;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.3) !important;
  border: solid 1px #0b181e !important;
  color: #0A0724 !important;
  border-radius: 0px !important;
  font-family: 'Alte DIN 1451 Mittelschrift' !important;
  font-size: 14px;
}

.ui.selection.dropdown {
  background-color: #E3E1E3 !important;
  color: #0A0724 !important;
  box-shadow: 0 !important;
  border: solid 1px #0b181e !important;
  border-radius: 0px !important;
}

.tab h2 .content {
  color: #EAEFF5 !important;
}

/* Wallet Created Segments */
.ui.inverted.segment,
.ui.primary.inverted.segment {
  background-color: #E3E1E3 !important;
  box-shadow: 0 !important;
  border-radius: 0px !important;
  color: #0A0724 !important;
}


/* Transactions */
.transactionRecord {
  color: #fafafa !important;
  background-color: #eee !important;
  border-radius: 0px !important;
  padding-left: 1em !important;
  transition: background 0.3s linear;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
}

.transactionRecord a {
  color: #4aafff !important;
  font-family: 'Alte DIN 1451 Mittelschrift' !important;
}

.transactionRecord:hover a {
  /* color: #dc255d !important; */
}

.transactionRecord:hover {
  background: #6D7478 !important;
  /* color: #0f0f0f !important; */
}

.transactionRecordInternal {
  background-color: #6D7478 !important;
  border-radius: 0px !important;
  padding-left: 0 !important;
  border: 0 !important;
  padding: 0 !important;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) inset, 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
  margin: 0 !important;
}

.transactionTypeImage {
  padding-right: 1em !important;
}

.transactionAddress {
  font-size: 9px;
}

.transactionRecord:hover .transactionAddress {
  /* color: #0f0f0f !important; */
}

.wordBreak {
  word-wrap: break-word;
  word-break: break-all;
}



.statusCol {
  height: 100% !important;
}


#chart {
  position: relative;
}



#chartSegment {
  min-height: 240px;
  height:100%;
  border-radius: 0px !important;
  box-shadow: unset !important;
  border: unset !important;
  background: #3C464B !important;
  background-attachment: fixed !important;
}

#myChart {
  height: 100% !important;
  min-height: 220px;
}

/* 
SVG styling
*/

.svg__loading {
  height: 150px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.svg__loading-won {
  fill: #FFA729;
}

.svg__loading-lost {
  fill: #4AAFFF;
}

.svg__loading-new {
  fill: #CBD7E6;
}

.svg__loading-open {
  fill: #9DA3A5;
}


/* 
"Loading Segments" copy
*/
.snapshot__loading {
  position: relative;
  font-family: 'Alte DIN 1451 Mittelschrift', sans-serif;
  height: 150px;
  padding-top: 20px;
  text-align: center;
  color: #fafafa;
}

.snapshot__loading-info::after {
  width: 0;
  opacity: 0.3;
  position: absolute;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  padding-left: 0.25em;
  content: "\2026";
  -webkit-animation: ellipsis 2s infinite;
}

/* 
Ellipsis Animation
*/
@-webkit-keyframes ellipsis {
  0% {
    width: 0.25em;
  }

  50% {
    width: 0.6em;
  }

  100% {
    width: 1em;
  }
}

#paginator {
  background-color: #EAEFF5 !important;
  color: #0B181E !important;
  width: 80px !important;
}

.rv-vanilla-modal-fi {
  position: absolute;
  top: -100%;
  left: 50%;
  width: 45%;
  min-height: 300px;
  margin: -300px 0 0 -22.5%;
  background: #EAEFF5;
  z-index: 1000;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
}

.rv-vanilla-modal-is-open {
  top: 50%;
}

.rv-vanilla-modal-overlay-fi {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
  -webkit-transition: .4s opacity linear;
  transition: 0.4s opacity linear;
}

.rv-vanilla-modal-overlay-fi.is-shown {
  opacity: 1;
  display: block;
  position: fixed;
}

.rv-vanilla-modal-header {
  padding: 20px;
  background: #3C464B;
  border-radius: 4px 4px 0 0;
}

.rv-vanilla-modal-body {
  padding: 25px 20px 20px;
  overflow: auto;
  color: #0b181e;
  font-family: 'Alte DIN 1451 Mittelschrift';
}

.rv-vanilla-modal-body p {
  /*line-height: 40px;*/
  margin: 0 0 1em;
}

.rv-vanilla-modal-title {
  font-family: 'Alte DIN 1451 Mittelschrift';
  color: #EAEFF5;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}

.rv-vanilla-modal-close {
  color: #FFA729;
  font-family: 'Alte DIN 1451 Mittelschrift';
  font-size: 20px;
  float: right;
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  background: #0B181E;
  -webkit-transition: all .2s linear;
  transition: all 0.2s linear;
}

.rv-vanilla-modal-close .text {
  position: relative;
  top: -3px;
}

.rv-vanilla-modal-close:hover {
  color: #EAEFF5;
  background: rgba(255, 255, 255, 0.5);
}

.only-mobile {
  display: none;
}

.mobile-explorer {
  padding-bottom: 85px;
}

.mobile-explorer>h4.ui.header,
h3.ui.header {
  font-family: 'Alte DIN 1451 Mittelschrift';
  font-size: 1.5em;
  text-align: center;
  font-weight: 300;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4AAFFF;
  color: #EAEFF5;
  display: block !important;
}

.mobile-explorer>h3.ui.header>i.icon {
  display: none;
}



.mobile-explorer>div.ui.selection.floatright {
  float: none;
}

#mainSearch {
  width: 400px !important;
}

.mobile-explorer>div.ui.selection.floatright>div.ui.icon.fluid.input>input#mainSearch {
  width: 90% !important;
  display: flex !important;
  margin-left: 5%;
  margin-right: 5% !important;
  z-index: 99 !important;
}

.mobile-explorer>div.ui.selection.floatright>div.ui.icon.fluid.input>i.search.link.icon {
  margin-right: 5% !important;
  z-index: 100 !important;
}

.mobile-explorer>div.ui.icon.message {
  width: 95% !important;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flex;
}

.mobile-explorer>div.ui.segment.pageSegment {
  width: 95% !important;
  margin-left: 2.5%;
  margin-right: 2.5%;
  /*display: flex;*/
}

.mobile-explorer>div>.float-right {
  box-sizing: initial;
}

.mobile-explorer>div.footer {
  padding-top: 50px !important;
  color: #a0a0a0 !important;
}

.mobile-explorer>div.footer strong {
  color: #f0f0f0 !important;
}

.mobile-explorer .pagination.menu a:not(.icon) {
  display: none;
}

.mobile-explorer .pageSegment>div.ui.bottom.attached.tab.segment.active>table>tfoot>tr>th {
  background: unset !important;
}

.mobile-explorer .pageSegment>div.ui.bottom.attached.tab.segment.active>table>tfoot>tr {
  box-shadow: unset !important;
}

.mobile-explorer .pageSegment>div.ui.bottom.attached.tab.segment.active>table {
  background: none !important
}

.qr-code-container {
  display: inline;
  background: #EAEFF5 !important;
}

.qr-code-container canvas {
  background: #EAEFF5 !important;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.lastBlocks {
  /*  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 10px !important;*/
  background: #eee !important;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;

  border-radius: 0px !important;
}

.lastBlocks:hover {
  background: #6D7478 !important;
  /* color: #0f0f0f !important; */
}

.lastBlocks:hover .plain {
  /* color: #0f0f0f !important; */
}

.lastBlocks:hover .cyan {
  /* color: #dc255d !important; */
}

.miner {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bl-head {
  font-family: 'Alte DIN 1451 Mittelschrift';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #fafafa;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bl-num {
  font-family: 'Alte DIN 1451 Mittelschrift';
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
}

.text-lipstick {
  color: #4aafff !important;
}

.bl-data {
  font-family: 'Alte DIN 1451 Mittelschrift';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #fafafa;
  padding-top: 6px !important;
  padding-bottom: 10px !important;
  padding-left: 0px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bl-first-col {
  padding-bottom: 2px !important;
  padding-top: 10px !important;
}

.bl-more {
  padding-bottom: 10px !important;
  padding-top: 16px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.statusBoard {
  background: #3C464B !important;
  color: #EAEFF5 !important;
}

.ui.segment {
  background: #3C464B;
}

.break-word {
  word-break: break-word;
}

.ui.attached.segment {
  background: #EAEFF5;
}

.p0 {
  padding: 0px;
}

html {
  background: #0B181E !important;
  background-attachment: fixed !important;
}

.ui.message {
  border-radius: 0px !important;
}

/*dark theme*/
.message {
  background: #3C464B !important;
}

.message.transactionRecord {
  background-color: #3C464B !important;
}
.message.transactionRecord:hover {
  background-color: #9DA3A5 !important;
}
.message.transactionRecord:hover a {
  color: #0B181E !important;
}
.statusBoard .content strong {
  font-family: 'Alte DIN 1451 Mittelschrift' !important;
  color: #4aafff !important;
}

.footer a {
  color: #fafafa !important;
}

.ui.negative.message {
  background: #EAEFF5 !important;
  -webkit-box-shadow: 0 0 0 1px #FFCA7E inset, 0 0 0 0 transparent;
  box-shadow: 0 0 0 1px #FFCA7E inset, 0 0 0 0 transparent;
}

.ui.negative.message .header {
  color: #FFA729!important;
}

.ui.negative.message .close.icon {
  color: #FFA729!important;
}

#lastBlocks {
  max-width: 1288px;
  min-width: 100px;
  background: #2E3C5A;
  color: #EAEFF5 !important;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

#txnPageSegment>div.ui.bottom.attached.tab.segment.active {
  background: rgba(255, 255, 255, 0.1) !important;
}

table {
  border-radius: 0px !important;
}

.ui.table {
  background: rgba(255, 255, 255, 0.2) !important;
}

.ui.table td {
  color: #fafafa;
}

.ui.table th {
  color: #fafafa !important;
  background: rgba(0, 0, 0, 0.3) !important;
}

.jsonclick {
  border-radius: 0px !important;
}

.ofe {
  font-family: 'Alte DIN 1451 Mittelschrift';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.cyan {
  color: #4aafff;
}

.plain {
  color: #EAEFF5;
  font-family: 'Alte DIN 1451 Mittelschrift';
  font-size: 13px;
}

.plain-r {
  color: #EAEFF5 !important;
}

.lastBlocks:hover .plain-r {
  /* color: #000 !important; */
}

#loadingTransactions {
  background: rgba(255, 255, 255, 0.9) !important;
}

.t-c {
  text-align: center !important;
}

.t-l {
  text-align: left !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.f-h {
  font-family: 'Alte DIN 1451 Mittelschrift' !important;
}

.ui.message .header {
  font-family: 'Alte DIN 1451 Mittelschrift' !important;
}

.ui:not(.icon) {
  font-family: 'Alte DIN 1451 Mittelschrift' !important;
}

.ui.small.basic.grey.icon.button.themeToggle {
  color: #fafafa !important;
}

.ui.small.basic.grey.icon.button.themeToggle:hover {
  color: #fafafa !important;
  background: #4aafff !important;
}

.plain a {
  color: #f4bfcf !important;
}

.lastBlocks:hover .plain a {
  color: #4183c4 !important;
}
.used {
  background-color: rgba(165,37,37,0.7);
  color: #EAEFF5;
  text-decoration: line-through;
  padding: 0px !important;
  font-size: 10px !important;
}
.unused {
  background-color: rgba(37,165,37,0.5);
  padding: 0px !important;
  font-size: 10px !important;
}
span.json-formatter-string {
  white-space: pre-wrap !important;
}

.input input {
  background-color: #6D7478 !important;
  color: #EAEFF5 !important;
}
.input.icon {
  color: #EAEFF5 !important;
}
.refresh:before {
  color: #FFA729 !important;
}
.ui.red.label {
  background-color: #FFA729 !important;
}
.jsonbox {
  background-color: #CBD7E6 !important;
}
.ui.teal.label {
  background-color: #FFA729 !important;
}
div.value {
  font-family: 'Alte DIN 1451 Mittelschrift' !important;
}
div.label {
  font-family: 'Alte DIN 1451 Mittelschrift' !important;
}
.list a.item:hover {
  color: #FFA729 !important;
}