<template name="nextstakers">
  <h3>Next stakers</h3><button class="ui mini button"><i class="ui refresh icon"></i> Refresh</button>
  {{#with nextstakers}}
  {{#if error}}
    <p>There was an error: {{error.error}} {{error.reason}}</p>
  {{else}}
    <!-- if nextstakers has an error property, display it -->
    {{#each nextstakers.stake_list}}
    <ul>
      <li>address: {{this.address}}</li>
      <li>balance: {{this.balance}}</li>
      <li>nonce: {{this.nonce}}</li>
      <li>hash_terminator: {{this.hash_terminator}}</li>
    </ul>
    {{/each}}
    {{/if}} 
  {{/with}}
</template>
