<template name="status">

<h4 class="ui pageHeader header">
  <div class="content">
    <!-- Market Cap: ${{marketCap}}<br /> 
    ${{quantaUsd}} USD / Quanta -->
    Network Status
  </div>
</h4>
<br />
{{#with status}} {{#if error}}
<div class="ui stackable three column grid">
  <div class="column">
    <div class="ui icon message statusBoard">
      <div class="content">
        <strong>Status</strong><br />
        No connection <i class="ui tiny middle aligned red circle icon"></i>
        <small>API node returned an error</small>
      </div>
    </div>
  </div>
</div>
{{else}}
<div class="ui stackable three column grid">
  <div class="stretched row">
    <div class="column">
      <div class="ui message statusBoard">
        <div class="content">
          <strong>Network Status</strong><br />
          <small>
            Connected: {{status.node_info.state}}<br />
            Uptime: {{uptime}}<br />
            {{status.node_info.network_id}}<br />
            Nodes: {{status.node_info.num_connections}}<br />
            Version: <span class="break-word">{{status.node_info.version}}</span>
          </small>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui message statusBoard">
        <div class="content">
          <strong>Blocks</strong><br />
          <small>
            Max Index: {{max_block_index}}<br />
            Block Time: {{status.block_time_mean}}<br />
            Block Time Std Dev: {{status.block_time_sd}}
          </small>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui message statusBoard">
        <div class="content">
          <strong>Coin Supply</strong><br />
          <small>
            Emission: {{emission}}% ({{emission_raw}})<br />
            Unmined: {{unmined}}<br />
            Block Reward: {{reward(status.block_last_reward)}}
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}} {{/with}}

</template>
