<template name="stakers">
  <h1>Stakers <i class="ui refresh red link icon"></i></h1> {{#with stakers}} {{#if error}}
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      Error reading stakers
    </div>
    <p>{{error.error}} : {{error.reason}}</p>
  </div>
  {{else}}
  <div class="ui raised segments">
    {{#each stakers}}
    <div class="ui segment">
      <div class="ui stackable grid">
        <div class="nine wide column">
          <div class="ui horizontal list">
            <div class="item">
              <div class="content">
                <div class="header">
                  ADDRESS
                </div>
                <a class="unbreakable" href="/a/{{this.address}}">{{this.address}}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="three wide column">
          <div class="ui horizontal list">
            <div class="item">
              <div class="content">
                <div class="header">
                  BALANCE
                </div>
                <div class="unbreakable">{{this.balance}}</div> QRL
              </div>
            </div>
          </div>
        </div>
        <div class="two wide column">
          <div class="ui horizontal list">
            <div class="item">
              <div class="content">
                <div class="header">
                  NONCE
                </div>
                {{this.nonce}}
              </div>
            </div>
          </div>
        </div>
        <div class="two wide column">
          <div class="ui horizontal list">
            <div class="item">
              <div class="content">
                <div class="header">
                  HASH TERM.
                </div>
                <button class="ui mini button hashShow">Show &raquo;</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="display: none;">
          <div class="ui unbreakable basic segment">
            <div class="ui horizontal list">
              <div class="item">
                <div class="content">
                  <div class="header">
                    HASH TERMINATOR
                  </div>
                  {{this.hash_terminator}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}} {{/with}}
</template>