<template name="richlist">
  <h3>Richlist <i class="ui refresh red link icon"></i></h3>
  {{#with richlist}}
    {{#if error}}
      <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
          Error reading transaction
        </div>
        <p>{{error.error}} : {{error.reason}}</p>
      </div>
    {{else}}
    <ul>
      <li>1: <a href="/a/{{first.address}}">{{first.address}}</a> ({{first.balance}})</li>
      <li>2: <a href="/a/{{second.address}}">{{second.address}}</a> ({{second.balance}})</li>
      <li>3: <a href="/a/{{third.address}}">{{third.address}}</a> ({{third.balance}})</li>
      <li>4: <a href="/a/{{fourth.address}}">{{fourth.address}}</a> ({{fourth.balance}})</li>
      <li>5: <a href="/a/{{fifth.address}}">{{fifth.address}}</a> ({{fifth.balance}})</li>
    </ul>
    {{/if}} 
  {{/with}}
</template>
