<template name="appBody">

  <script type="text/javascript" src="/chart.js"></script>

  <!-- Main Menu -->
  <div class="ui visible left vertical inverted sidebar labeled icon menu">
      <a href="/" class="item logoArea">
        <img class="main-menu-logo" src="/img/qrl-logo-white.png" />
        QRL
      </a>
      <a href="/lastblocks" class="item main-menu-btn {{menuBlocksActive}}">
        <i class="block layout icon"></i>
        Blocks
      </a>
      <a href="/lasttx" class="item main-menu-btn {{menuTransactionsActive}}" style="{{walletStatus.menuHiddenInverse}}">
        <i class="check square icon"></i>
        Recent<br />Transactions
      </a>
      <a href="/unconfirmed" class="item main-menu-btn {{menuUnconfirmedTransactionsActive}}" style="{{walletStatus.menuHiddenInverse}}">
        <i class="help circle icon"></i>
        Unconfirmed<br />Transactions
      </a>
      <a href="http://wallet.theqrl.org/" target="_blank" class="item main-menu-btn">
        <i class="send outline icon"></i>
        Wallet
      </a>
      <a class="item main-menu-btn sidebarConnectionStatus">
        <i class="{{connectionStatus.colour}} signal icon"></i>
      </a>
  </div>

  <!-- Content Wrapper -->
  <div class="main-content-wrapper">
      <!-- Main Content Area -->
      <div class="main-content">

        <!-- Search Box -->
        <div class="ui selection floatright">
          <div class="ui icon input">
            <input style="width:400px !important" type="text" placeholder="tx, address, block index">
            <i class="search link icon"></i>
          </div>
        </div>

        <!-- Page Content -->
        <div class="subPageContent">
          <div class="ui">
            {{> Template.dynamic template=main}}

            <!-- Footer -->
            <div class="footer">
              <div class="ui center aligned container">
                <a href="/">
                  <img class="footerLogo" src="/img/Q@2x.png">
                </a>
                <br />
                <div class="ui horizontal small divided link list">
                  <a class="item" target="_blank" href="http://theqrl.org/">theQRL.org</a>
                  <a class="item" target="_blank" href="http://theqrl.org/whitepaper/QRL_whitepaper.pdf">White Paper</a>
                  <a class="item" target="_blank" href="https://github.com/theQRL">Github</a>
                  <a class="item" target="_blank" href="https://github.com/theQRL/block-explorer/issues">Found a Problem?</a>
                  <a class="item" target="_blank" href="https://github.com/theQRL/block-explorer">qrl-explorer v{{qrlExplorerVersion}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

</template>