<template name="sidebar">
 <div class="ui sidebar inverted vertical menu">
      <a class="item header" href="/"><img class="logo" src="assets/Q@2x.png" style="max-width: 50px; padding-bottom: 10px;"></a>

         <div class="item header">Transactions</div>
          <a class="item" href="/lasttx">&raquo; Confirmed Tx</a>
          <a class="item" href="#">&raquo; Unconfirmed Tx</a>

          <a class="item header" href="/lastblocks">Blocks</a>

          <a class="item header" href="/richlist">Richlist</a>
                      <div class="item header">Stakers</div>
          <a class="item" href="/stakers">&raquo; Current epoch</a>
          <a class="item" href="/nextstakers">&raquo; Next epoch</a>

          <div class="item header">About</div>
          <a class="item" href="http://theqrl.org/">&raquo; theQRL.org</a>
          <a class="item" href="http://theqrl.org/whitepaper/QRL_whitepaper.pdf">&raquo; White Paper</a>
          <a class="item" href="https://github.com/theQRL/QRL">&raquo; Github</a>

          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="tx, address, block height">
              <i id="sideSearch" class="search link icon"></i>
            </div>
            </div>
    </div>
</template>