<template name="lastblocks">
  <div class="ui fluid container outer">
    <div class="ui header">
      <h1 class="container-header">Latest blocks<!-- <i class="ui refresh red link icon"></i>--></h1>
    </div>
    {{#with lastblocks}} {{#if error}}
    <div class="ui negative message">
      <i class="close icon"></i>
      <div class="header">
        Error reading last blocks
      </div>
      <p>{{error.error}} : {{error.reason}}</p>
    </div>
    {{else}}
    <div class="spacer"></div>
    <div class="ui divided items">
      {{#each lastblocks.blockheaders}}
      <div class="block-item item" data-block="{{this.header.block_number}}">
        <div class="content">
          <a href="/block/{{this.header.block_number}}" class="header"><i class="ui cube icon"></i> {{this.header.block_number}}</a>
          <span class="float-right">{{tsReadable}}</span>
          <div class="meta">
            <span>{{ts}}</span>
          </div>
          <div class="ui horizontal list">
            <div class="item">
              <i class="ui large exchange icon"></i>
              <div class="content">
                <div class="header">Transactions</div>
                <span class="hack">{{numberTransactions}}</span>
              </div>
            </div>
            <div class="item">
              <i class="ui large database icon"></i>
              <div class="content">
                <div class="header">Reward</div>
                <span class="hack">{{reward(this.header.reward_block)}}</span>
              </div>
            </div>
            <div class="item">
              <i class="ui large privacy icon"></i>
              <div class="content">
                <div class="header">Blockhash</div>
                <span class="hack"><small>{{this.header.hash_header_hex}}</small></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}} {{/with}}
  </div>
</template>