<template name="lastblocks">
  <h4 class="ui pageHeader header">
    <div class="content">
      Latest Blocks
    </div>
  </h4>
  {{#with lastblocks}} {{#if error}}
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      Error reading last blocks
    </div>
    <p>{{error.error}} : {{error.reason}}</p>
  </div>
  {{else}}
    {{#each lastblocks.blockheaders}}
    <div class="ui icon message transactionRecord">
      <div class="ui stackable grid fullWidth">
        <div class="two wide column">

          <div class="item">
            <div class="content">
              <div class="header">
                <a href="/block/{{this.header.block_number}}">{{this.header.block_number}}</a>
              </div>
            </div>
          </div>

        </div>
        <div class="nine wide column">
          <div class="ui stackable two column grid">
            <div class="column">{{tsReadable}}</div>
            <div class="column">{{ts}}</div>
          </div>
          <span class="hack breakable"><small>{{this.header.hash_header_hex}}</small></span>
        </div>
        <div class="four wide column">
          Transactions: {{numberTransactions}}<br />
          Reward: {{reward(this.header.reward_block)}}
        </div>
      </div>
      <div class="one wide column">
        <div class="floatright">
          <a href="/block/{{this.header.block_number}}">View</a>
        </div>
      </div>
    </div>
    {{/each}}
  {{/if}} {{/with}}
</template>