body {
    background-color: #fff;
}

.ui .label {
    vertical-align: middle;
}

.ui.menu {
    margin-bottom: 0;
}
.outer {
    padding: 10px!important;
}
body.pushable {
    background: #fff !important;
}

div.pusher {
    /*background: #d8d8d8 !important;*/
}

@media (max-width: 519px) {
    .pusher {
        margin-top: 40px;
    }
    .ui.segment {
        padding: 0em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .outer {
        padding: 0px!important;
        padding-top: 5px!important;
        padding-bottom: 5px!important;
    }
}

.ui.label {
    overflow: auto;
    word-break: break-all;
}

td a {
    font-weight: normal;
    overflow: auto;
    word-break: break-all;
}

td {
    font-weight: normal;
    overflow: auto;
    word-break: break-all;
}

.value {
    overflow: hidden;
    word-break: break-all;
}

@media (max-width: 519px) {
    .ui.statistics .statistic>.value,
    .ui.statistic>.value {
        font-size: 2rem !important;
    }
}

td .ui.label {
    word-break: keep-all !important;
    overflow: visible;
}

td .unbreakable {
    word-break: keep-all !important;
    overflow: visible;
}

.unbreakable {
    overflow: hidden;
    word-break: break-all;
}

.json-formatter-row .json-formatter-string {
    white-space: pre-wrap !important;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
background: #1d2951;
    }
tbody {
    font-family: Hack, monospace;
    font-size: 0.8em;
}
.container-header {
  background: #1d2951;
  color: #fff;
  font-weight: 300;
  padding-left: 0.2em;
  padding-right: 0.2em;
}
.ui.horizontal.list > .item {
  margin-left: 0em;
  margin-right: 1em;
}
.hack {
  font-family: Hack, monospace;
}
.block-item {
    overflow: hidden;
  word-break: break-word;
}
.items > .block-item > .content:hover {
  background: #F8F8F8;
}
.float-right {
    float: right;
}